/* styles/globals.css */

/* Global styles for html, body */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom right, #3a4c61, #4a6171);
}

#__next {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}